/*!
 * Level - Recording Studio (link)
 * Design by André Sontag Artigas
 * Code by Kevin Katzer
 */

@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
 body {
    position: relative;
}
.navbar {
    background-color: rgba(34, 34, 34, 0.8);
    height: 45px;
}
.content {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}
.view {
    background-image: url("../img/04.jpg");
}
.who {
    background-image: url("../img/02.jpg");
}
.what {
    background-image: url("../img/03.jpg");
}
.with {
    background-image: url('../img/05.jpg')
}
.where {
    background-image: url('../img/01.jpg')
}
.container {
    background-color: #FFF;
    padding: 0;
}
.view .container {
    background: none;
}
.blank {
    background-color: #fff;
}
.logo {
    margin: 0px 0;
}
h1 {
    font-family: 'Rokkitt', serif;
    font-size: 57px;
    padding: 0;
    color: #4C4C4E;
    margin: 50px 0 20px 0;
}
.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.9em;
    margin: 0 50px;
    color: #404041;
}
.who img {
    margin: 20px auto 0 auto;
}
.with img {
    margin: 0 auto 30px auto;
}
.iframe {
    margin: 0 50px;
}
#map {
    width: 100%;
    height: 350px;
}
.nbar img {
    margin: 5px auto;
    height: 40px;
}
.nbar button {
    position: absolute;
    right: 5px;
    background-color: transparent;
}
.navibar {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navi-toggle {
    border-color: transparent !important;
}
.icon-bar {
    background-color: #fff;
}
.hr {
    width: 85%;
    height: 1px;
    background-color: #ccc;
    margin: 70px auto 0 auto;
}
.footer {
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0 auto;
    height: 320px;
    z-index: 1000;
    padding-bottom: 15px;
}
.footer img {
    margin: 35px auto 15px auto;
}
h2 {
    margin: 0;
    padding-top: 30px;
    color: #fff;
    font-size: 38px;
    font-family: "Rokkitt", serif;
}
.footer p {
    color: #fff;
    font-size: 15px;
}
.sm-footer {
    font-size: 13px;
}
.sm-trade {
    font-size: 15px;
    color: #4D4D4D;
}
