/*!
 * Level - Recording Studio (link)
 * Design by André Sontag Artigas
 * Code by Kevin Katzer
 */

body {
	position:absolute;
	background-color: #111;
	height:100%;
	width:100%;
}

.content-background {
	background-image: url("../img/bg_blur.jpg");
	background-size: cover;
	height: 100%;
	padding-top: 150px;
	padding-bottom: 50px;
}

.container {
	background-color: #FFF;
}