/*!
 * Level - Recording Studio (link)
 * Design by André Sontag Artigas
 * Code by Kevin Katzer
 */

@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
 body {
    position: relative;
    margin: 0 0 -15px 0;
}
.navbar {
    background-color: rgba(34, 34, 34, 0.8);
    height: 45px;
}
.content {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.content {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}
.container {
    background-color: #FFF;
    padding: 0;
}
.view .container,
.contact .container {
    background: none;
}
.blank {
    background-color: #fff;
}
.logo {
    margin: 0px 0;
}
h1 {
    font-family: 'Rokkitt', serif;
    padding: 0;
    color: #4C4C4E;
    margin: 50px 0 20px 0;
}
.text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9em;
    margin: 0 5%;
    color: #404041;
}
.who img {
    margin: 20px auto 0 auto;
}
.what .video {
    margin: 0 0 50px 0;
}
.carousel {
    margin: 0 0 50px 0;
}
.carousel {
    height: 450px;
    overflow: hidden;
}
.carousel.gr {
    height: 558px;
}
.carousel-indicators.gr > li {
    border-color: #CCC;
}
.carousel-indicators.gr > li.active {
    background-color: #CCC;
}
.carousel-control.gr, .carousel-control.gr:hover {
    color: #CCC;
    background: none !important;
    opacity: 1;
}
.item img {
    margin: auto;
}
#map {
    width: 100%;
    height: 350px;
}
#pan {
    width: 100%;
    height: 350px;
}
.nbar img {
    margin: 5px auto;
    height: 40px;
}
.nbar button {
    position: absolute;
    right: 5px;
    background-color: transparent;
}
.navibar {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.navibar a {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.navi-toggle {
    border-color: transparent !important;
}
ul.nav {
    margin-top: 0 !important;
}
.icon-bar {
    background-color: #fff;
}
.hr {
    width: 85%;
    height: 1px;
    background-color: #ccc;
    margin: 70px auto 0 auto;
}
.footer {
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0 auto;
    z-index: 1000;
    padding-bottom: 15px;
}
.footer img {
    margin: 35px auto 15px auto;
}
h2 {
    margin: 0;
    padding-top: 30px;
    color: #fff;
    font-family: "Rokkitt", serif;
}
p {
    font-size: 15px;
}
.footer p {
    color: #fff;
}
.sm-footer {
    font-size: 13px;
}
.sm-trade {
    font-size: 15px;
    color: #B0B0B0;
}
.sidemargin {
    margin-left: 5%;
    margin-right: 5%;
}
.workers {
    margin-top: 70px;
    margin-bottom: -50px;
}
.workers > div {
    margin: 0;
    padding: 0 3%;
}
.gray {
    background-color: #F2F2F2;
}
.sidepic {
    height: 300px;
}
.pic {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    border-radius: 50%;
    overflow: hidden;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */
}
.pic:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}
h3 {
    font-size: 17px;
    margin-bottom, margin-top: 0;
}
.hidd {
    display: none;
}
.who img {
    padding-top: 20px;
}
.sidetext {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9em;
    color: #404041;
    margin-top:20px;
}
@media (min-width: 768px) { 
    .view {
        background-image: url("../img/C1.jpg");
    }
    .who {
        background-image: url("../img/C2.jpg");
    }
    .what {
        background-image: url("../img/C3.jpg");
    }
    .with {
        background-image: url('../img/C4.jpg');
    }
    .where,
    .contact {
        background-image: url('../img/C5.jpg');
    }
    h1 {
        font-size: 57px;
    }
    h2 {
        font-size: 38px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 30px;
    }
    body {
        background-image: url("../img/C1.jpg");
    }
    .workers > div {
        padding-bottom:35px;
    }
}